In [263]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [264]:
driver=webdriver.Chrome()

In [ ]:
#QUESTION10

In [80]:
driver.get('https://www.motor1.com/')

In [81]:
type_=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input")
type_.send_keys('50 most expensive cars')

In [82]:
search_=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search_.click()

In [83]:
search1=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]')
search1.click()

In [84]:
car_name=[]
car_price=[]

In [93]:
name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]/span')
for i in name:
    car_name.append(i.text)

In [100]:
df=pd.DataFrame(car_name[0:50])
df

                                     0
0                  Aston Martin Valour
1                         McLaren Elva
2                          Czinger 21C
3                        Ferrari Monza
4                   Gordon Murray T.33
5                    Koenigsegg Gemera
6                          Zenvo TSR-S
7                   Hennessey Venom F5
8                      Bentley Bacalar
9        Hispano Suiza Carmen Boulogne
10              Bentley Mulliner Batur
11                        Deus Vayanne
12                         SSC Tuatara
13                         Lotus Evija
14                 Aston Martin Vulcan
15                          Delage D12
16                 Ferrari Daytona SP3
17                   McLaren Speedtail
18                        Rimac Nevera
19                       Pagani Utopia
20                Pininfarina Battista
21                  Gordon Murray T.50
22                Lamborghini Countach
23            Mercedes-AMG Project One
24                        Zenvo Aurora
25                 Aston Martin Victor
26         Hennessey Venom F5 Roadster
27                    Koenigsegg Jesko
28               Aston Martin Valkyrie
29           W Motors Lykan Hypersport
30                       McLaren Solus
31                    Lamborghini Sian
32                    Koenigsegg CC850
33     Bugatti Chiron Super Sport 300+
34                  Lamborghini Veneno
35                      Bugatti Bolide
36           Pininfarina B95 Speedster
37                     Bugatti Mistral
38                 Pagani Huayra Imola
39                        Bugatti Divo
40                 SP Automotive Chaos
41                    Pagani Codalunga
42                        777 Hypercar
43            Mercedes-Maybach Exelero
44                  Bugatti Centodieci
45             Bugatti Chiron Profil√©e
46                Rolls-Royce Sweptail
47            Bugatti La Voiture Noire
48              Rolls-Royce Boat Tail*
49  Rolls-Royce La Rose Noire Droptail

In [ ]:
#QUESTION8

In [102]:
driver.get('https://www.azquotes.com/top_quotes.html')

In [103]:
search8=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search8.click()

In [104]:
quote=[]
author=[]
types_of_quote=[]

In [112]:
 quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes:
    quote.append(i.text)
    quotes[0:101]

In [113]:
 authors=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in authors:
    author.append(i.text)

In [115]:
 types=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in types:
    types_of_quote.append(i.text)

In [139]:
len(quote[0:100])

100

In [140]:
df1=pd.DataFrame({'Quotes':quote[0:100],'Authors':author,'types':types_of_quote})
df1

,Quotes,Authors,types
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [ ]:
#QUESTION_7

In [175]:
driver.get('https://www.amazon.in/')

In [176]:
Type=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Type.send_keys('Laptop')

In [177]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [179]:
searchh=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[11]/li/span/a/span')
searchh.click()

In [180]:
title=[]
rating=[]
price=[]

In [186]:
title_=driver.find_elements(By.XPATH,'//div[@data-cy="title-recipe"]')
for i in title_:
    title.append(i.text)

In [203]:
rating_=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
for i in rating_:
    rating.append(i.text)

In [200]:
prices=driver.find_elements(By.XPATH,'//span[@class="a-color-base"]')
for i in prices:
    price.append(i.text)

In [201]:
len(rating)

98

In [205]:
df=pd.DataFrame({'Title':title[0:10],'Rating':rating[0:10],'Price':price[1:11]})
df

,Title,Rating,Price
0,"ASUS TUF Gaming F15, 15.6""(39.62 cms) FHD 144H...",93\n100+ bought in past month,"‚Çπ80,590"
1,"MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...",34\n100+ bought in past month,"‚Çπ49,990"
2,Lenovo ThinkPad X1 Carbon (2021) Intel Core i7...,98\n200+ bought in past month,"‚Çπ2,48,990"
3,Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...,359\n100+ bought in past month,"‚Çπ59,990"
4,"ASUS Vivobook 15, IntelCore i7-12650H 12th Gen...",47,"‚Çπ60,990"
5,Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...,119\n50+ bought in past month,"‚Çπ88,990"
6,"MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...",181\n50+ bought in past month,"‚Çπ68,500"
7,Acer Aspire Lite 11th Gen Intel Core i7-1165G7...,59\n50+ bought in past month,"‚Çπ50,500"
8,"Dell Inspiron 5430 Laptop, Intel Core i7-1360P...",282\n100+ bought in past month,"‚Çπ87,490"
9,"(Refurbished) ASUS Vivobook 15, IntelCore i7-1...",105\n100+ bought in past month,"‚Çπ51,980"

In [206]:
#QUESTION_6

In [209]:
driver.get('https://www.flipkart.com/')

In [213]:
search6=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
search6.send_keys('sneakers')

In [214]:
search6_=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search6_.click()

In [215]:
brand=[]
description=[]
price=[]

In [ ]:
for page in range(0,3):
    Brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand:
        brand.append(i.text)
        next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
        next_button.click()

In [230]:
for page in range(0,3):
    Description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Description:
        description.append(i.text)
        next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
        next_button.click()

In [231]:
for page in range(0,3):
    Price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price:
        price.append(i.text)
        next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
        next_button.click()

348

In [232]:
df=pd.DataFrame({'brand':brand[0:100],'description':description[0:100],'price':price[0:100]})
df

        brand description   price
0      MEGPAR      MEGPAR    ‚Çπ475
1      MEGPAR      BRUTON    ‚Çπ477
2      BRUTON   Deals4you    ‚Çπ398
3   Deals4you    URBANBOX    ‚Çπ339
4    URBANBOX        aadi    ‚Çπ299
..        ...         ...     ...
95   Nobelite    RED TAPE  ‚Çπ1,619
96   RED TAPE   RUN SEVEN    ‚Çπ941
97  RUN SEVEN        ATOM  ‚Çπ1,339
98       ATOM      Labbin    ‚Çπ599
99     Labbin      Kraasa    ‚Çπ399

[100 rows x 3 columns]