In [218]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [271]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
#question1

In [188]:
driver=webdriver.Chrome()

In [5]:
driver.get('https://www.shine.com/')

In [11]:
jobs1=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
jobs1.send_keys('Data Analyst')

In [12]:
location1=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location1.send_keys('banglore')

In [23]:
search1=driver.find_element(By.XPATH," /html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search1.click()

In [24]:
job_title=[]
job_location=[]
company_name=[]
experience=[]

In [26]:
title1=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title1:
    job_title.append(i.text)

In [28]:
location=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location:
    job_location.append(i.text)

In [29]:
company=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company:
    company_name.append(i.text)

In [30]:
experi=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experi:
    experience.append(i.text)

In [31]:
df=pd.DataFrame({'Job_title':job_title[0:10],'Job_location':job_location[0:10],'Company_name':company_name[0:10],'Experience':experience[0:10]})
df

,Job_title,Job_location,Company_name,Experience
0,Marketing Data Analyst,Bangalore\n+1,novel group,2 to 6 Yrs
1,Data Analyst Recruitment,Oman\n+13,kavya interprises,0 to 4 Yrs
2,Data Analyst,Bangalore\n+9,hire connect,0 to 1 Yr
3,Vacancy For Data Analyst,Oman\n+13,kavya interprises,0 to 4 Yrs
4,Project Coordinator (Data Analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
5,Project Coordinator (Data analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
6,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
7,Data analyst - Java / Python,Bangalore,boyen haddin consulting and technol...,5 to 10 Yrs
8,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
9,Data Analyst - SQL/ Database Maintenance,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs

In [ ]:
#QUESTION2

In [33]:
driver.get('https://www.shine.com/')

In [37]:
jobs_2=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
jobs_2.send_keys('Data Scientist')

In [38]:
location2=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location2.send_keys('banglore')

In [40]:
search2=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search2.click()

In [42]:
job_title2=[]
job_location2=[]
company_name2=[]

In [43]:
title2=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title2:
    job_title2.append(i.text)

In [44]:
location2=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location2:
    job_location2.append(i.text)

In [46]:
company2=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company2:
    company_name2.append(i.text)

In [47]:
df2=pd.DataFrame({'Job_title':job_title2[0:10],'Job_Location':job_location2[0:10],'Company_name':company_name2[0:10]})
df2

,Job_title,Job_Location,Company_name
0,Data scientist,Gurugram\n+8,capgemini technology services india...
1,Data Scientist - Business Intelligence,Bangalore,boyen haddin consulting and technol...
2,Data Scientist for Bangalore,Bangalore,get hired
3,Data Scientist - Spark/Python/Redshift,Bangalore,boyen haddin consulting and technol...
4,Data Scientist - Machine Learning,Bangalore,boyen haddin consulting and technol...
5,Hiring For Data Scientist,Oman\n+13,kavya interprises
6,Hiring For Data Scientist,Oman\n+13,kavya interprises
7,Data Scientist,Bangalore,ibm india pvt. limited
8,Data Scientist- Associate,Bangalore,jpmorgan
9,Data Scientist Vacancy,Oman\n+14,divya interprises

In [ ]:
#QUESTION3

In [59]:
driver.get('https://www.shine.com/')

In [62]:
job3=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
job3.send_keys('Data Scientist')

In [64]:
search3=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search3.click()

In [65]:
location3=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button')
location3.click()

In [66]:
location4=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[13]/span/label')
location4.click()

In [67]:
location5=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]')
location5.click()

In [68]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[3]/button')
salary.click()

In [69]:
salary1=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label')
salary1.click()

In [71]:
salary2=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label')
salary2.click()

In [72]:
salary3=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]')
salary3.click()

In [73]:
job_Title=[]
job_Location=[]
company_Name=[]
Experience_required=[]

In [74]:
title3=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title3:
    job_Title.append(i.text)

In [75]:
location3=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location3:
    job_Location.append(i.text)

In [76]:
company3=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company3:
    company_Name.append(i.text)

In [77]:
experience3=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience3:
    Experience_required.append(i.text)

In [78]:
df3=pd.DataFrame({'JOB_TITLE':job_Title[0:10],'JOB_LOCATION':job_Location[0:10],'COMPANY_NAME':company_Name[0:10],'EXPERIENCE_REQUIRED':Experience_required[0:10]})
df3

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXPERIENCE_REQUIRED
0,Data Scientist for Delhi,Delhi,get hired,0 to 3 Yrs
1,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
2,Data Scientist-Delhi,Delhi,shiva hr services,0 to 3 Yrs
3,Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
4,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
5,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
6,Data Engineer,Delhi,employberry consultants,4 to 6 Yrs
7,Clinical Data Manager,Delhi\n+6,techno endura,0 to 1 Yr
8,Work Full/part-time / Work From Home / Compute...,Delhi\n+4,desnor destination pvt. ltd.,0 to 4 Yrs
9,Typing Work-Data Entry-Computer Operator-Freel...,Delhi\n+4,desnor destination pvt. ltd.,0 to 4 Yrs

In [ ]:
#QUESTION5

In [326]:
driver=webdriver.Chrome()

In [327]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [328]:
rating11=[]
review=[]
Full_review=[]

In [330]:
for page in range(0,10):
    rating_511=driver.find_elements(By.XPATH,'//div[@class="col _2wzgFH K0kLPL"]/div[1]/div[1]')
    for i in rating_511:
        rating11.append(i.text)
        
    page_next=driver.find_element(By.CLASS_NAME,"yFHi8N")
    page_next.click()
    time.sleep(3)

In [331]:
for page in range(0,10):
    review23=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review23:
        review.append(i.text)
    page_next=driver.find_element(By.CLASS_NAME,"yFHi8N")
    page_next.click()
    time.sleep(3)

In [332]:
for page in range(0,10):
    full_=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_:
        Full_review.append(i.text)
    page_next=driver.find_element(By.CLASS_NAME,"yFHi8N")
    page_next.click()
    time.sleep(3)

In [333]:
len(rating11),len(review),len(Full_review)

(100, 100, 100)

In [340]:
df=pd.DataFrame({'Rating':review,'Review':rating11})
df

TypeError: 'dict' object is not callable