In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [54]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [8]:
driver=webdriver.Chrome()

In [9]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [10]:
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [11]:
name=driver.find_elements(By.XPATH,'//a[@title="Baby Shark"]')
for i in name:
    Name.append(i.get_attribute('href'))

In [12]:
len(Name)

3

In [ ]:
#Question-2

In [13]:
driver=webdriver.Chrome()

In [14]:
driver.get('https://www.bcci.tv/')

In [15]:
search=driver.find_element(By.XPATH,'/html/body/div[6]/div/div/div[2]/div/div[2]/div/div[1]/div[1]/a')
search.click()

In [16]:
search1=driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[2]/div[2]/div/button')
search1.click()

In [17]:
Series=[]
Place=[]
Date=[]
Time=[]

In [18]:
matches=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for mat in matches:
    Series.append(mat.text)

In [20]:
places=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for pla in places:
    Place.append(pla.text)

In [21]:
date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for dat in date:
    Date.append(dat.text)

In [23]:
time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for tim in time:
    Time.append(tim.text)

In [26]:
len(Series),len(Time),len(Date),len(Place)

(16, 16, 16, 15)

In [28]:
data=pd.DataFrame({'series':Series[1:],'places':Place,'date':Date[1:],'time':Time[1:]})
data

,series,places,date,time
0,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","28 DECEMBER, 2023",12:30 AM PST
1,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","30 DECEMBER, 2023",12:30 AM PST
2,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","2 JANUARY, 2024",12:30 AM PST
3,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town","3 JANUARY, 2024",12:00 AM PST
4,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","5 JANUARY, 2024",5:30 AM PST
5,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","7 JANUARY, 2024",5:30 AM PST
6,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","9 JANUARY, 2024",5:30 AM PST
7,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium, ...","11 JANUARY, 2024",5:30 AM PST
8,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore","14 JANUARY, 2024",5:30 AM PST
9,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru","17 JANUARY, 2024",5:30 AM PST
10,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad","24 JANUARY, 2024",8:00 PM PST
11,ENGLAND TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,"1 FEBRUARY, 2024",8:00 PM PST
12,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot","14 FEBRUARY, 2024",8:00 PM PST
13,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi","22 FEBRUARY, 2024",8:00 PM PST
14,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","6 MARCH, 2024",8:00 PM PST

In [ ]:
#QUESTION-3

In [30]:
driver=webdriver.Chrome()

In [31]:
driver.get('https://statisticstimes.com/')

In [34]:
eco=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]')
eco.click()

In [35]:
indi=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
indi.click()

In [36]:
gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [45]:
Rank=[]
State=[]
Gsdp_21_22=[]

In [46]:
rank=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for ran in rank:
    Rank.append(ran.text)

In [47]:
state=driver.find_elements(By.XPATH,'//td[@class="name"]')
for sta in state:
    State.append(sta.text)

In [48]:
gsdp=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for gsd in gsdp:
    Gsdp_21_22.append(gsd.text)

In [53]:
data1=pd.DataFrame({'rank':Rank[:33],'state':State[:33],'gsdp21_22':Gsdp_21_22[:33]})
data1

   rank                      state  gsdp21_22
0     1                Maharashtra  3,108,022
1     2                 Tamil Nadu  2,071,286
2     3              Uttar Pradesh  1,974,532
3     4                  Karnataka  1,962,725
4     5                    Gujarat  1,937,066
5     6                West Bengal  1,363,926
6     7                  Rajasthan  1,218,193
7     8             Madhya Pradesh  1,136,137
8     9             Andhra Pradesh  1,133,837
9    10                  Telangana  1,128,907
10   11                     Kerala    932,470
11   12                      Delhi    904,642
12   13                    Haryana    870,665
13   14                     Odisha    670,881
14   15                      Bihar    650,302
15   16                     Punjab    614,227
16   17                      Assam    412,612
17   18               Chhattisgarh    406,416
18   19                  Jharkhand    358,863
19   20                Uttarakhand    272,159
20   21         Jammu & Kashmir-UT    199,917
21   22           Himachal Pradesh    176,269
22   23                        Goa     82,604
23   24                    Tripura     62,550
24   25                 Chandigarh     45,635
25   26                 Puducherry     44,238
26   27                  Meghalaya     38,785
27   28                     Sikkim     37,557
28   29                    Manipur     36,594
29   30          Arunachal Pradesh     35,124
30   31                   Nagaland     31,913
31   32                    Mizoram     27,824
32   33  Andaman & Nicobar Islands     10,371

In [ ]:
#Question7

In [55]:
driver=webdriver.Chrome()

In [56]:
driver.get('https://www.imdb.com/chart/toptv/?ref_=nv_tvv_250')

In [61]:
Name=[]
Year_span=[]
Ratings=[]

In [65]:
name=driver.find_elements(By.XPATH,'//h3[@class="ipc-title__text"]')
for nam in name:
    Name.append(nam.text)

In [66]:
year=driver.find_elements(By.XPATH,'//div[@class="sc-43986a27-7 dBkaPT cli-title-metadata"]//span[1]')
for yea in year:
    Year_span.append(yea.text)

In [67]:
rating=driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star--voteCount"]')
for rat in rating:
    Ratings.append(rat.text)

In [73]:
data7=pd.DataFrame({'name':Name[1:251],'year':Year_span,'rating':Ratings})
data7

                                   name       year   rating
0                       1. Breaking Bad  2008–2013   (2.1M)
1                    2. Planet Earth II       2016   (155K)
2                       3. Planet Earth       2006   (218K)
3                   4. Band of Brothers       2001   (510K)
4                          5. Chernobyl       2019   (838K)
..                                  ...        ...      ...
245                      246. Cobra Kai  2018–2023   (200K)
246                      247. Southland  2009–2013    (29K)
247               248. Alchemy of Souls      2022–    (15K)
248  249. The Great British Baking Show      2010–    (12K)
249                    250. I Love Lucy  1951–1957    (28K)

[250 rows x 3 columns]

In [ ]:
#Question4

In [80]:
driver=webdriver.Chrome()

In [81]:
driver.get('https://github.com/')

In [84]:
trend=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/div/modal-dialog/div/div/div/form/query-builder/div[1]/div[1]/div/div[2]/input')
trend.send_keys('Trending')

In [85]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/div/modal-dialog/div/div/div/form/query-builder/div[1]/div[2]/ul/li/ul/li/span/span[2]/span/span')
search.click()

In [86]:
Repository_name=[]
Repository_description=[]
Language=[]

In [88]:
repository=driver.find_elements(By.XPATH,'//span[@class="Text-sc-17v1xeu-0 qaOIC search-match"]')
for repo in repository:
    Repository_name.append(repo.text)

In [89]:
repositor=driver.find_elements(By.XPATH,'//span[@class="Text-sc-17v1xeu-0 kWPXhV search-match"]')
for rep in repositor:
    Repository_description.append(rep.text)